@model IEnumerable<HelloWorldReact.Model.Timetable>

@{
    ViewBag.Title = "Timetab.e";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TestTKB</h2>
<div id="container" class="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header">
                    @*<h3 class="box-title">Danh sách chức năng</h3>*@
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    @*<p>
                        @Html.ActionLink("Create New", "Create")
                    </p>*@
                    <table class="table">
                        <tr>
                            <th>STT</th>
                            <th>
                                @Html.DisplayNameFor(model => model.monhoc)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.stc)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.lopmonhoc)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tengiangvien)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.thu)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tiet)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.giangduong)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.sosv)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.sosvdk)
                            </th>
                            <th></th>
                        </tr>
                        @{
                            var i = 0;
                        }
                        @foreach (var item in Model)
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>@item.monhoc</td>
                                <td>@item.stc</td>
                                <td>@item.lopmonhoc</td>
                                <td>@item.tengiangvien</td>
                                <td>@item.thu</td>
                                <td>@item.tiet</td>
                                <td>@item.giangduong</td>
                                <td>@item.sosv</td>
                                <td>@item.sosvdk</td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<p>Visit <a href="http://techbrij.com">TechBrij.com</a> for more details.</p>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/react/react-0.12.2.min.js"></script>
