@model List<IS.uni.TIMETABLE_OBJ>
@{
    ViewBag.Title = "Danh sách quốc gia";
}
<div id="container" class="content-wrapper">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Thoi khoa bieu giao vien</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    @using (Html.BeginForm())
                    {
                        <p>
                            Title: @Html.TextBox("Search") <br />
                            <input type="submit" value="Filter" />
                        </p>
                    }

                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Tên giảng viên</th>
                                <th>Môn học</th>
                                <th>Lớp môn học</th>
                                <th>Tiết</th>
                                <th>Thứ</th>
                                <th>Giảng đường</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var i = 0;
                            }
                            @foreach (var item in Model)
                            {
                                i++;
                                <tr>
                                    <td>@i</td>
                                    <td>@item.tengiangvien</td>
                                    <td>@item.monhoc</td>
                                    <td>@item.lopmonhoc</td>
                                    <td>@item.tiet</td>
                                    <td>@item.thu</td>
                                    <td>@item.giangduong</td>

                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr></tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
        <!-- /.col -->
    </div>

</div>
d
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/react/react-0.12.2.min.js"></script>
